/*******************************/
/************GLOBAL**************/
/*******************************/
body{
      /*min-height: ;*/
      min-width: 768px ;
      background-color: blue;
      min-height: 300px;
}
button{
      color:black;
}
button:hover, button.selected{
      background-color: blue;
      color: white;
}

/*******************************/
/************BOARD**************/
/*******************************/
#board{
      position: relative;
      background-color:green;
      /*height: 300px;*/
      min-height: 300px;
      height:60%;
      max-height: 500px;

}
#announceBoard{

}

/************PLAYERS**************/
#playarea{
      height: 200px;
}
.player, .player img{
      position: absolute;
      /*vertical-align: middle;*/
}
#topPlayer{
      left:45%;
}
#topPlayer img{

}
#leftPlayer{
      left:0;
      top:45%;
}
#leftPlayer img{
      left: 100px;
      top:-30px;
}
#rightPlayer{
      right:0;
      top:45%;
}
#rightPlayer img{
      right: 100px;
      top:-30px;
}
#bottomPlayer{
      bottom:0;
      left:45%;
}
#bottomPlayer img{
      bottom: 40px;
}
.player span{
      display: block;
}
.announce {
      border-radius: 4px;
      background-color: lightgrey;
      padding-right: 10px;
      padding-left: 10px;
}
.player img, #playerCards img{
      height: 88px;
      width: 66px;
      /*height: 200%;*/
      /*width: 150%;*/
}

#playerCards{
      min-height: 100px;
      height: 20%;
      max-height: 200px;
      background-color: green;
      text-align: center;
}
/*.announce{
      
}*/
/************INVITE**************/
#inviteBoard{
      position: absolute;
      top:33%;
      background-color: grey;
      color:white;
      font-size: 25px;
      text-align: center;
      border-radius: 15px;
}

/************ANNOUNCE**************/
#announceBoard{
      position: absolute;
      vertical-align: middle;
      top:33%;
      background-color: grey;
      border-radius: 15px;
}
/*******************************/
/************CHAT**************/
/*******************************/
#messageInput{
      bottom:10px;
      position: relative;
      width: 100%;
}
#chatWindow{
      position: absolute;
}
#chatWindow * {
      font-size: 25px;
      color: red;
}


/*******************************/
/***********PLAYING BOARD*********/
/*******************************/
/*#board{
      background-color:green;
      position: absolute;
}*/

/*
#m{
      border: 0;
      width: 100%;
      height: 100%;
      border: thin solid;
}

#messages {
      list-style-type: none;
      margin: 0;
      padding: 0;
}
#messages li {
      padding: 5px 10px;
}
#messages li:nth-child(odd) {
      background: #eee;
}
#board {
      height: 75%;
      background-color:green;
      right:0px;
      border: thin solid;
}
.player {
      text-align: center;
}
.card {
      width:80%;
      height:100%;
      min-width: 40;
      min-height: 60;
}
.cardToBePlayed{
      width:60px;
      height:77px;
      position: absolute;
}
#playerCards{
      text-align: center;
      padding-left: 100px;
}
#chatWindow{
      border: thin solid;
      text-align: center;
      height: 20%;
}
#usersArea{
      border: thin solid;
      text-align: center;
      height: 75%;
}
#usersArea ul li{
      list-style: none;
}
#messageForm{
      height: 5%;
}
.line{
      height: 80px;
      width: 100%;
}

button{
      font-size: 20px;
      margin-right: 10px;
      padding:3px;
}
button:hover, button.selected{

      background-color: blue;
      color: white;
}
#inviteBoard {
      background-color: grey;

      border: thin solid;
}
#inviteBoard p{
      font-size: 25px;
}
#announceBoard{
      position: absolute;
      top:50px;
      text-align: center;
      background-color: lightblue;
}
.value, .color{
      margin-bottom: 10px;
}
#announceBoard div label{
      font-size: 16px;
      background-color: grey;
      padding: 5px;
      margin-right: 10px;
}
#a80, #a90{
      display:inline-block;
      color:green;
}

table td{
      border: thin solid;
      margin:2px;
}

.announce{
      background-color: grey;
      color:white;

}*/