* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body {
      font: 13px Helvetica, Arial;
}
form {
      background: #000;
      padding: 3px;
      position: fixed;
      bottom: 0;
      width: 100%;
}
form input {
      border: 0;
      padding: 10px;
      width: 90%;
      margin-right: .5%;
}
form button {
      width: 9%;
      background: rgb(130, 224, 255);
      border: none;
      padding: 10px;
}
#messages {
      list-style-type: none;
      margin: 0;
      padding: 0;
}
#messages li {
      padding: 5px 10px;
}
#messages li:nth-child(odd) {
      background: #eee;
}
#board {
      /*position: absolute;*/
      height: 350px;
      /*width:500px;*/
      /*width:100%;*/
      background-color:green;
      right:0px;
      border: thin solid;
}
.player {
      /*position: relative;*/
      text-align: center;
}
#topPlayer {
      /*text-align:center;*/
}
#leftPlayer {
      /*left:0;*/
}
#rightPlayer {
      /*right:0;*/
      /*padding-left:404px;*/
}
#bottomPlayer {
      /*text-align:center;*/
}
.card {
      width:60px;
      height:77px;
}
/*MESSAGE AREA*/
#messageArea{
      border: thin solid;
      text-align: center;
      height: 500px;
}
/*USER AREA*/
#usersArea{
      border: thin solid;
      text-align: center;
}
#usersArea ul li{
      list-style: none;
}