/*******************************/
/************GLOBAL**************/
/*******************************/
body{
      /*min-height: ;*/
      min-width: 768px ;
      background-color: blue;
      min-height: 300px;
      /*max-width: 768px ;*/
      max-height: 300px;
}
button{
      color:black;
}
button:hover, button.selected{
      background-color: blue;
      color: white;
}

/*******************************/
/************BOARD**************/
/*******************************/
#board{
      position: relative;
      background-color:green;
      /*height: 300px;*/
      min-height: 300px;
      height:60%;
      max-height: 500px;

}
#announceBoard{

}
/************SCORES**************/
#scores{
      position: absolute;
      top:0;
      right:0;
      margin-top: 10px;
      margin-right: 10px;
}
tr, td, th{
      border: solid thin;
}
td:first-child{
      text-align: right;
      font-weight: bold;
      width: 110px;
      /*color: blue;*/
}
th{
      font-weight: bold;
      text-align: center;
}
td{
      width: 50px;
      text-align: center;
}
#currentAnnounce{
      position: absolute;
      color:white;
      background-color: black;
      margin-left: 10px;
      margin-top: 10px;
}
/************PLAYERS**************/
#playarea{
      height: 200px;
}
.player, .player img{
      position: absolute;
      /*vertical-align: middle;*/
}
#topPlayer{
      left:45%;
}
#topPlayer img{

}
#leftPlayer{
      left:0;
      top:45%;
}
#leftPlayer img{
      left: 100px;
      top:-30px;
}
#rightPlayer{
      right:0;
      top:45%;
}
#rightPlayer img{
      right: 100px;
      top:-30px;
}
#bottomPlayer{
      bottom:0;
      left:45%;
}
#bottomPlayer img{
      bottom: 40px;
}
.player span{
      display: block;
}
.announce {
      border-radius: 4px;
      background-color: lightgrey;
      padding-right: 10px;
      padding-left: 10px;
}
.player img, #playerCards img{
      height: 88px;
      width: 66px;
      /*height: 200%;*/
      /*width: 150%;*/
}
.dealer{
      display:inline-block;
      color: white;
      background-color: red;
      border-radius: 10px;
      text-align: center;
}
#playerCards{
      min-height: 100px;
      height: 20%;
      max-height: 200px;
      background-color: green;
      text-align: center;
}
.cardToBePlayed{
      position: absolute;
      height: 150px;
      width: 100px;
}
.cardToBePlayed:hover{
      /*cursor: hand;*/
}
.announce:hover{
      /*background-color: blue;*/
}
/*.announce{
      
}*/
/************INVITE**************/
#inviteBoard{
      position: absolute;
      top:33%;
      background-color: grey;
      color:white;
      font-size: 25px;
      text-align: center;
      border-radius: 15px;
}

/************ANNOUNCE**************/
#announceBoard{
      position: absolute;
      vertical-align: middle;
      top:33%;
      background-color: grey;
      border-radius: 15px;
}
/*******************************/
/************CHAT**************/
/*******************************/
#messageInput{
      bottom:5%;
      position: absolute;
      width: 95%;
      background-color: none;
      background-color: rgba(0,0,0,0.5);
      border: none;
      color: white;
      padding-left: 10px;
      z-index:100000000;

}
#chatWindow{
      /*position: absolute;*/
      /*background-color: yellow;*/
}
#messages * {
      position: absolute;
      font-size: 25px;
      bottom: 35px;
      /*background-color: rgba(0,0,0,0.5);*/
      /*color: white;*/
}
.system{
      color: lightgrey;
      font-style: italic;

}
.chat{
      color: white;

}
#messages {
      list-style-type: none;
}

/*******************************/
/**************USERS************/
/*******************************/
#usersArea{
      text-align: center;
}
#userList li{
      list-style: none;
}