doctype html
html
  head
    title Socket.IO chat
    link(rel='stylesheet', type='text/css', href='/css/common.css')
  body
    div.board
      div.player#topPlayer
        img.card
        span.playerName
      div.player#leftPlayer
        img.card
        span.playerName
      div.player#rightPlayer
        img.card
        span.playerName
      div.player#bottomPlayer
        img.card
        span.playerName
    ul#messages
    form(action='')
      input#m(autocomplete='off')
      button Send
      
    script(src='/node_modules/socket.io-client/socket.io.js')
    script(src='http://code.jquery.com/jquery-1.11.1.js')
    script(src='/js/chat.js')
 