extends template
block css
	link(rel='stylesheet', type='text/css', href='/css/common.css')
block content
	.container-fluid
		.row
			#board.col-xs-10
				#playarea
					.row.line
						.col-xs-2.col-xs-offset-5.player#topPlayer
								span.playerName
					.row.line
						.col-xs-2.player#leftPlayer
								span.playerName
						.col-xs-2.col-xs-offset-8.player#rightPlayer
								span.playerName
					.row.line
						.col-xs-2.col-xs-offset-5.player#bottomPlayer
								span.playerName
				.row
					.col-xs-12.hidden#announceBoard
					.col-xs-12
						div#playerCards
			.col-xs-2#usersArea
				label Coupaings
					a(href='/logout',style="display:block;") Disconnect #{session.user.name}
				//- form(action='/testa', method='post')
				ul#userList
				button(onclick='invitePlayers();', style='margin-bottom:100px') Invite
					//- button(type='submit') Invite
					//- button(onclick='invitePlayers();', style='margin-bottom:100px') Invite
					
				//- ul
		.row
			.col-xs-12#chatWindow
				//- label Messages
				ul#messages
		.row
			.col-xs-12#messageForm
				form(action='')
					input#m(autocomplete='off')
					button.hidden Send
block scripts
	script(src='/node_modules/socket.io-client/socket.io.js')
	script(src='/js/chat.js')
	script(src='/js/cards.js')