extends template
block css
block content
	.container
		section
			if session.redirectmessage
				.alert.alert-warning
					strong Aborting! 
					|  #{session.redirectmessage}
				-session.redirectmessage=''
			h1 Sign Up
			form(role='form', action='/register', method='post')
				.form-group
					label(for='username') User Name:
					input#username.form-control(type='text',name="username")
				.form-group
					label(for='email') Email address:
					input#email.form-control(type='email', name='email', autofocus)
				.form-group
					label(for='pwd') Password:
					input#pwd.form-control(type='password', name='pwd')
				button.btn.btn-default(type='submit', onclick="") Submit
block scripts